[alias]
	st = status
	ch = checkout
	che = checkout
	cp = cheery-pick
	co = commit
	head = !git r -1
	h = !git head
	hp = "!. ~/.githelpers && show_git_head"
	r = !GIT_NO_PAGER=1 git l -30
	ra = !git r --all
	l = "!. ~/.githelpers && pretty_git_log"
	la = !git l --all
	d = difftool
    vhr = !git fetch && git reset --hard FETCH_HEAD
[user]
	email = elephant@lislon.ru
	name = Boris Avdeev
[core]
	autocrlf = false
	excludesfiles = ~/dotfiles/.gitignore_global
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[diff]
	;external = ~/dotfiles/bin/git_diff_wrapper
[merge]
	tool = vimdiff
[difftool]
	promt = false
	prompt = false
[pager]
	diff = 
[branch]
	autosetuprebase = always
[mergetool]
	keepBackup = false
[pull]
	rebase = true
[push]
	default = simple
[diff]
	tool = vimdiff
[github]
	user = lislon
