:nmap р h
:nmap о j
:nmap л k
:nmap д l
:nmap ф a
:nmap Ф A
:nmap ц w
:nmap Ц W
:nmap и b
:nmap И B
:nmap ш i
:nmap Ш I
:nmap й q
:nmap Й Q
:nmap с c
:nmap С C
:nmap х [
:nmap ъ ]
:nmap щ o
:nmap Щ O

:imap <c-х> <c-[>

:nmap <S-Enter> O<Esc>j
:nmap <CR> o<Esc>k

" Fast exit from insert mode
:inoremap jk <Esc>
:inoremap jj <Esc>
:inoremap оо <Esc>

:nmap <c-w> ci'

:noremap <left> <nop>
:noremap <right> <nop>
:noremap <up> <nop>
:noremap <down> <nop>
:set scrolloff=5
:set gdefault
:set ignorecase

"copy
:vmap <C-Insert> "+y
"paste (Insert like = p, Shift+Insrt like P)
:nmap <Insert> "+p
:imap <Insert> <c-o>"+p
:nmap <S-Insert> "+P
:imap <S-Insert> <c-o>"+P

" Very left & Very Right
:noremap H ^
:noremap L $

:map <Tab> %

" Delete till end"
:noremap D d$

" Split line
:noremap S i<cr><Esc>

:inoremap <C-a> <Esc>I
:inoremap <C-e> <Esc>A

; Ctrl+x,f - delete stacked function a(b(c))
;:noremap Xf diwmx<Tab>x`xx

:imap <C-l> <C-O>l
:imap <C-h> <C-O>h