snippet pf2
	public function ${1}(${3})234
	{
		${0}
	}

snippet pf
	public function ${1}(${3})
	{
		${0}
	}

snippet ctor
	public function __construct(${1})
	{
		${0}
	}

snippet tt
	${1:Text}`!p snip.rv = (75-2*len(t[1]))*' '+t[1].upper()`
